<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>iGame - Game Details</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="container-md">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">iGame</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item" style="margin: 0 50px">
                <a class="nav-link" aria-current="page" href="/games/dashboard"
                  >Home</a
                >
              </li>
              <li class="nav-item" style="margin: 0 50px">
                <a class="nav-link" href="/users/account">Account</a>
              </li>
              <li class="nav-item" style="margin: 0 50px">
                <a class="nav-link" href="/games/new">Add Game</a>
              </li>
            </ul>
            <button class="btn btn-danger">Logout</button>
          </div>
        </div>
      </nav>
      <h1 class="welcome-msg">Welcome Nick</h1>
      <div class="container">
        <h2>Title: <span class="details">{{game.title}}</span></h2>
        <h2>Developer: <span class="details">{{game.developer}}</span></h2>
        <h2>Publisher: <span class="details">{{game.publisher}}</span></h2>
        <h2>Genre: <span class="details">{{game.genre}}</span></h2>
        <h2>Platform: <span class="details">{{game.platform}}</span></h2>
        <h2>Release Date: <span class="details">{{game.release_date}}</span></h2>
        <h2>Summary: <span class="details">{{game.summary}}</span></h2>
      </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
